<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.HackatonConnectionString"
            connectionString="Data Source=DESKTOP-3DVUFFJ\SQLEXPRESS;Initial Catalog=Hackaton;User ID=sa;Password=Dexter41"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>